.nftBlock {
    border: 1px solid rgb(168, 168, 168);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.nftPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nftBlock img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: 1.5px solid black;   
}

.nftBlock button {
    border: 1px solid #3a89ff;
    background-color: #3a89ff;
    color: white;
    border-radius: 3px;
    width: 60px;
    height: 30px;
}

.block {
    background-color: rgb(250, 250, 250);
}

.nftBlock button:hover {
    background-color: #0d6efd;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2, .nav div div {
    padding: 0 50px;
}

.nav h2 {
    color: #3a89ff;
}

.nftPage p, .nav div div {
    color: rgb(114, 113, 113);
}

.nav div div button {
    background-color: rgb(250, 250, 250);
    border: none;
    font-size: 18px;
    color: rgb(114, 113, 113);
}

.nav div div button:hover {
    color: #3a89ff;
    text-decoration: underline #3a89ff;
}

@media screen and (min-width: 1641px) {
    .nftPage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}